.bottom-pg {
    width: 100%;
    height: fit-content;
    padding: 8px;
    background-color: gray;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.care-conn-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-ico {
    padding: 4px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
}
