* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #E0E0E0;
  margin: 0;
  text-align: center;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  display: flex;
  width: 100%;

}

.logo-small {
  width: 250px;
  padding: 4px;
  margin: 4px;
}

.img-file {
  border-radius: 8px;
  border-style: solid gray 2px;
  padding: 4px;
}

.container {
  display: flex;
  justify-content: end;
}

.care-txt {
  font-family: 'Audiowide', cursive;
  color: #10c8ae;
  text-transform: uppercase;

}

.home-contain{
  min-height: 85vh;
  width: 100%;
}

.banner {
  background-image: url("../images/banner1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 60px 0;
  height: 180px;
}

li {
  padding: 16px;
  list-style: none;
  font-weight: 600;
}

.img-contain {
  max-width: 400px;
  max-height: 400px;

  min-width: 150px;
  min-height: 150px;

  margin: 0 auto;

  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: rgb(102, 51, 153);
  text-decoration: none;
  font-family: -apple-system, Roboto, sans-serif, serif
}